.App {
  text-align: center;
}

.App-logo {
  height: 14vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3d3554;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 30vh
}

.title-app {
  font-style: italic;
  font-weight: bold;
}

.body-app {
  background-color: #e5e5e5;
  color: #3d3554
}

.App-link {
  color: #61dafb;
}

.div-app {
  margin: 15px 
}

.div-app-btn {
  margin: 30px;
  border-radius: 10px;
}

.div-app-form {
  width: 30%
}

.oculto {
  display: none;
}

main {
  padding: 20px;
  height: 70vh;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  height: 25px;
  line-height: 22px;
  border-radius: 5px;
  padding: 0 5px 0 5px
}

select {
  width: 100%;
  height: 25px;
  line-height: 22px;
  border-radius: 5px;
  padding: 0 5px 0 5px;
}

button {
  height: 30px;
  width: 100px;
  color: white;
  background-color: #3d3554;
  border-radius: 5px;
  text-align: center;
}

form {
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
